@using Songify.Models.LikedSongsModels
@model IEnumerable<LikedSongsAllViewModel>
@{
    ViewData["Title"] = "All Liked Songs";
}
<h1>All Liked Songs</h1>
<a asp-action="Add" class="btn btn-primary mb-2">Add Liked Song</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Song title
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.SongTitle</td>
                <td>
                    <a asp-action="Remove" asp-route-songId="@song.SongId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>